name: Update Chocolatey

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: true
        default: release-XXXXXXXX

defaults:
  run:
    shell: bash

jobs:
  chocolatey:
    name: Deploy to chocolatey.org
    runs-on: windows-latest
    if: github.repository == 'OpenRA/Chocolatey'
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6

      - name: Set Checksum
        run: |
          filename="OpenRA-${{ github.event.inputs.tag }}-x86.exe"
          url="https://github.com/OpenRA/OpenRA/releases/download/${{ github.event.inputs.tag }}/${filename}"
          sed -i "s#{URL32}#${url}#g" "tools/chocolateyInstall.ps1"
          curl -sSL "${url}" -o "${filename}"
          md5=$(cat "${filename}" | md5sum -)
          sed -i "s/{MD5CHECKSUM32}/${md5:0:32}/g" "tools/chocolateyInstall.ps1"
          filename="OpenRA-${{ github.event.inputs.tag }}-x64.exe"
          url="https://github.com/OpenRA/OpenRA/releases/download/${{ github.event.inputs.tag }}/${filename}"
          sed -i "s#{URL64}#${url}#g" "tools/chocolateyInstall.ps1"
          curl -sSL "${url}" -o "${filename}"
          md5=$(cat "${filename}" | md5sum -)
          sed -i "s/{MD5CHECKSUM64}/${md5:0:32}/g" "tools/chocolateyInstall.ps1"

      - name: Set Version
        id: version
        run: |
          tag=${{ github.event.inputs.tag }}
          version="${tag:8:4}.${tag:12:2}.${tag:14:2}"
          echo "nuget=$version" >> $GITHUB_OUTPUT
          sed -i "s/{VERSION}/${version}/g" "openra.nuspec"

      - name: Pack Release
        run: |
          choco pack openra.nuspec

      - name: Upload Release
        run: |
          package=$(find . -type f -name "*.nupkg")
          choco push $package -s https://push.chocolatey.org/ -k ${{ secrets.CHOCO_KEY }} --allow-unofficial
